In [1]:
import pandas as pd
import pickle
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, classification_report

In [5]:
dff1 = pd.read_excel("Kenya data with all variables.xlsx")

In [6]:
dff1.head()

,RIDAGEYR,RIAGENDR,RIDEXPRG,LBXRBCSI,LBXHGB,LBXHCT,LBXMCVSI,LBXMC,LBXMCHSI,LBXRDW,LBDLYMNO,LBDMONO,LBXFER,Anemia,ID,IDA,IDA_Status
0,18,2,0,4.68,15.0,44.0,94,32,34,12.6,1.91,0.27,27,Non_Anemic,Non_ID,Non-IDA,0
1,20,1,0,6.31,19.2,56.0,89,30,34,12.3,2.80,0.35,126,Non_Anemic,Non_ID,Non-IDA,0
2,20,1,0,6.26,18.2,54.0,87,29,33,12.9,2.46,0.45,111,Non_Anemic,Non_ID,Non-IDA,0
3,20,1,0,5.43,17.2,49.0,91,32,35,12.3,1.59,0.59,22,Non_Anemic,Non_ID,Non-IDA,0
4,20,1,0,5.66,16.7,50.0,88,30,34,13.0,2.53,0.58,37,Non_Anemic,Non_ID,Non-IDA,0

In [7]:
dff1.shape

(502, 17)

In [8]:
dff1.columns

Index(['RIDAGEYR', 'RIAGENDR', 'RIDEXPRG', 'LBXRBCSI', 'LBXHGB', 'LBXHCT',
       'LBXMCVSI', 'LBXMC', 'LBXMCHSI', 'LBXRDW', 'LBDLYMNO', 'LBDMONO',
       'LBXFER', 'Anemia', 'ID', 'IDA', 'IDA_Status'],
      dtype='object')

In [9]:
dff1['IDA_Status'].value_counts()

IDA_Status
0    483
1     19
Name: count, dtype: int64

In [10]:
columns = ['RIAGENDR', 'RIDAGEYR', 'RIDEXPRG', 'LBDMONO', 'LBXHGB', 'LBXHCT',
       'LBXMCVSI', 'LBXMCHSI', 'LBXRDW']

In [11]:
new_data = dff1[columns]

In [12]:
new_data.head()

,RIAGENDR,RIDAGEYR,RIDEXPRG,LBDMONO,LBXHGB,LBXHCT,LBXMCVSI,LBXMCHSI,LBXRDW
0,2,18,0,0.27,15.0,44.0,94,34,12.6
1,1,20,0,0.35,19.2,56.0,89,34,12.3
2,1,20,0,0.45,18.2,54.0,87,33,12.9
3,1,20,0,0.59,17.2,49.0,91,35,12.3
4,1,20,0,0.58,16.7,50.0,88,34,13.0

In [13]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   RIAGENDR  502 non-null    int64
 1   RIDAGEYR  502 non-null    int64
 2   RIDEXPRG  502 non-null    int64
 3   LBDMONO   502 non-null    float64
 4   LBXHGB    502 non-null    float64
 5   LBXHCT    502 non-null    float64
 6   LBXMCVSI  502 non-null    int64
 7   LBXMCHSI  502 non-null    int64
 8   LBXRDW    502 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.4 KB

In [14]:
y = dff1['IDA_Status']

In [15]:
pickle_file_path = 'gradient_boosting_model_with_oversampling.pkl'

# Load the data from the pickle file
with open(pickle_file_path, 'rb') as file:
    model = pickle.load(file)

ModuleNotFoundError: No module named 'sklearn.ensemble._gb_losses'

In [12]:
y_pred = model.predict(new_data)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/base.py:432: UserWarning: X has feature names, but GradientBoostingClassifier was fitted without feature names
  warnings.warn(

In [13]:
y_pred

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [14]:
cr = classification_report(y, y_pred, output_dict=True)
cm = confusion_matrix(y, y_pred)

# Evaluate performance
accuracy = accuracy_score(y, y_pred)
precision = precision_score(y, y_pred)
recall = recall_score(y, y_pred)

print(f"CM:{cm}")
print(f"Accuracy :{accuracy}")
print(f"Precision :{precision}")
print(f"recall :{recall}")

CM:[[479   4]
 [  3  16]]
Accuracy :0.9860557768924303
Precision :0.8
recall :0.8421052631578947