In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("raw_data.csv")

In [3]:
df.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,DMDBORN4,...,DMDBORN2,DMDSCHOL,DMDHRBR2,AIALANG,DMDBORN,INDHHINC,INDFMINC,DMDHRBRN,RIDRETH2,DMDEDUC
0,109263.0,66.0,2.0,1.0,2.0,NaN,5.0,6.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,109264.0,66.0,2.0,2.0,13.0,NaN,1.0,1.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,109265.0,66.0,2.0,1.0,2.0,NaN,3.0,3.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,109266.0,66.0,2.0,2.0,29.0,NaN,5.0,6.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,109267.0,66.0,1.0,2.0,21.0,NaN,2.0,2.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66687 entries, 0 to 66686
Data columns (total 87 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SEQN         66687 non-null  float64
 1   SDDSRVYR     66687 non-null  float64
 2   RIDSTATR     66687 non-null  float64
 3   RIAGENDR     66687 non-null  float64
 4   RIDAGEYR     66687 non-null  float64
 5   RIDAGEMN     41581 non-null  float64
 6   RIDRETH1     66687 non-null  float64
 7   RIDRETH3     25531 non-null  float64
 8   RIDEXMON     63452 non-null  float64
 9   DMDBORN4     25531 non-null  float64
 10  DMDYRUSZ     3028 non-null   float64
 11  DMDEDUC2     37124 non-null  float64
 12  DMDMARTZ     9232 non-null   float64
 13  RIDEXPRG     12278 non-null  float64
 14  SIALANG      66684 non-null  float64
 15  SIAPROXY     66680 non-null  float64
 16  SIAINTRP     66684 non-null  float64
 17  FIALANG      64831 non-null  float64
 18  FIAPROXY     64831 non-null  float64
 19  FIAINTRP     64831 non-null  float64
 20  MIALANG      46051 non-null  float64
 21  MIAPROXY     46052 non-null  float64
 22  MIAINTRP     46051 non-null  float64
 23  AIALANGA     14186 non-null  float64
 24  WTINTPRP     15560 non-null  float64
 25  WTMECPRP     15560 non-null  float64
 26  SDMVPSU      66687 non-null  float64
 27  SDMVSTRA     66687 non-null  float64
 28  INDFMPIR     60423 non-null  float64
 29  LBXWBCSI     54121 non-null  float64
 30  LBXLYPCT     54035 non-null  float64
 31  LBXMOPCT     54035 non-null  float64
 32  LBXNEPCT     54035 non-null  float64
 33  LBXEOPCT     54035 non-null  float64
 34  LBXBAPCT     54035 non-null  float64
 35  LBDLYMNO     54033 non-null  float64
 36  LBDMONO      54033 non-null  float64
 37  LBDNENO      54033 non-null  float64
 38  LBDEONO      54033 non-null  float64
 39  LBDBANO      54033 non-null  float64
 40  LBXRBCSI     54123 non-null  float64
 41  LBXHGB       54123 non-null  float64
 42  LBXHCT       54123 non-null  float64
 43  LBXMCVSI     54123 non-null  float64
 44  LBXMC        54153 non-null  float64
 45  LBXMCHSI     54123 non-null  float64
 46  LBXRDW       54123 non-null  float64
 47  LBXPLTSI     54123 non-null  float64
 48  LBXMPSI      54123 non-null  float64
 49  LBXNRBC      12151 non-null  float64
 50  LBXFER       24653 non-null  float64
 51  LBDFERSI     21672 non-null  float64
 52  Survey_Year  66687 non-null  object
 53  RIDEXAGM     4060 non-null   float64
 54  DMQMILIZ     6149 non-null   float64
 55  DMQADFC      527 non-null    float64
 56  DMDCITZN     51112 non-null  float64
 57  DMDYRSUS     8920 non-null   float64
 58  DMDEDUC3     14511 non-null  float64
 59  DMDMARTL     31336 non-null  float64
 60  DMDHHSIZ     51127 non-null  float64
 61  DMDFMSIZ     41005 non-null  float64
 62  DMDHHSZA     9971 non-null   float64
 63  DMDHHSZB     9971 non-null   float64
 64  DMDHHSZE     9971 non-null   float64
 65  DMDHRGND     51126 non-null  float64
 66  DMDHRAGE     51126 non-null  float64
 67  DMDHRBR4     9575 non-null   float64
 68  DMDHREDU     49512 non-null  float64
 69  DMDHRMAR     49977 non-null  float64
 70  DMDHSEDU     27045 non-null  float64
 71  WTINT2YR     51127 non-null  float64
 72  WTMEC2YR     51127 non-null  float64
 73  INDHHIN2     30148 non-null  float64
 74  INDFMIN2     30162 non-null  float64
 75  RIDAGEEX     38429 non-null  float64
 76  DMQMILIT     24860 non-null  float64
 77  DMDBORN2     20686 non-null  float64
 78  DMDSCHOL     10934 non-null  float64
 79  DMDHRBR2     20141 non-null  float64
 80  AIALANG      25256 non-null  float64
 81  DMDBORN      20470 non-null  float64
 82  INDHHINC     19709 non-null  float64
 83  INDFMINC     20202 non-null  float64
 84  DMDHRBRN     19793 non-null  float64
 85  RIDRETH2     10122 non-null  float64
 86  DMDEDUC      8378 non-null   float64
dtypes: float64(86), object(1)
memory usage: 44.3+ MB

In [5]:
df.columns

Index(['SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDAGEMN',
       'RIDRETH1', 'RIDRETH3', 'RIDEXMON', 'DMDBORN4', 'DMDYRUSZ', 'DMDEDUC2',
       'DMDMARTZ', 'RIDEXPRG', 'SIALANG', 'SIAPROXY', 'SIAINTRP', 'FIALANG',
       'FIAPROXY', 'FIAINTRP', 'MIALANG', 'MIAPROXY', 'MIAINTRP', 'AIALANGA',
       'WTINTPRP', 'WTMECPRP', 'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'LBXWBCSI',
       'LBXLYPCT', 'LBXMOPCT', 'LBXNEPCT', 'LBXEOPCT', 'LBXBAPCT', 'LBDLYMNO',
       'LBDMONO', 'LBDNENO', 'LBDEONO', 'LBDBANO', 'LBXRBCSI', 'LBXHGB',
       'LBXHCT', 'LBXMCVSI', 'LBXMC', 'LBXMCHSI', 'LBXRDW', 'LBXPLTSI',
       'LBXMPSI', 'LBXNRBC', 'LBXFER', 'LBDFERSI', 'Survey_Year', 'RIDEXAGM',
       'DMQMILIZ', 'DMQADFC', 'DMDCITZN', 'DMDYRSUS', 'DMDEDUC3', 'DMDMARTL',
       'DMDHHSIZ', 'DMDFMSIZ', 'DMDHHSZA', 'DMDHHSZB', 'DMDHHSZE', 'DMDHRGND',
       'DMDHRAGE', 'DMDHRBR4', 'DMDHREDU', 'DMDHRMAR', 'DMDHSEDU', 'WTINT2YR',
       'WTMEC2YR', 'INDHHIN2', 'INDFMIN2', 'RIDAGEEX', 'DMQMILIT', 'DMDBORN2',
       'DMDSCHOL', 'DMDHRBR2', 'AIALANG', 'DMDBORN', 'INDHHINC', 'INDFMINC',
       'DMDHRBRN', 'RIDRETH2', 'DMDEDUC'],
      dtype='object')

In [6]:
columns= ['SEQN','RIAGENDR', 'RIDAGEYR', 'RIDEXPRG', 'LBXWBCSI', 'LBXLYPCT', 'LBXMOPCT',
                   'LBXNEPCT', 'LBXEOPCT', 'LBXBAPCT', 'LBDLYMNO', 'LBDMONO', 'LBDNENO', 'LBDEONO',
                   'LBDBANO', 'LBXRBCSI', 'LBXHGB', 'LBXHCT', 'LBXMCVSI', 'LBXMC', 'LBXMCHSI', 
                   'LBXRDW', 'LBXPLTSI', 'LBXMPSI', 'LBXNRBC', 'LBXFER', 'Survey_Year']

In [7]:
df = df[columns]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66687 entries, 0 to 66686
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SEQN         66687 non-null  float64
 1   RIAGENDR     66687 non-null  float64
 2   RIDAGEYR     66687 non-null  float64
 3   RIDEXPRG     12278 non-null  float64
 4   LBXWBCSI     54121 non-null  float64
 5   LBXLYPCT     54035 non-null  float64
 6   LBXMOPCT     54035 non-null  float64
 7   LBXNEPCT     54035 non-null  float64
 8   LBXEOPCT     54035 non-null  float64
 9   LBXBAPCT     54035 non-null  float64
 10  LBDLYMNO     54033 non-null  float64
 11  LBDMONO      54033 non-null  float64
 12  LBDNENO      54033 non-null  float64
 13  LBDEONO      54033 non-null  float64
 14  LBDBANO      54033 non-null  float64
 15  LBXRBCSI     54123 non-null  float64
 16  LBXHGB       54123 non-null  float64
 17  LBXHCT       54123 non-null  float64
 18  LBXMCVSI     54123 non-null  float64
 19  LBXMC        54153 non-null  float64
 20  LBXMCHSI     54123 non-null  float64
 21  LBXRDW       54123 non-null  float64
 22  LBXPLTSI     54123 non-null  float64
 23  LBXMPSI      54123 non-null  float64
 24  LBXNRBC      12151 non-null  float64
 25  LBXFER       24653 non-null  float64
 26  Survey_Year  66687 non-null  object
dtypes: float64(26), object(1)
memory usage: 13.7+ MB

In [8]:
df.head()

,SEQN,RIAGENDR,RIDAGEYR,RIDEXPRG,LBXWBCSI,LBXLYPCT,LBXMOPCT,LBXNEPCT,LBXEOPCT,LBXBAPCT,...,LBXHCT,LBXMCVSI,LBXMC,LBXMCHSI,LBXRDW,LBXPLTSI,LBXMPSI,LBXNRBC,LBXFER,Survey_Year
0,109263.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-2020
1,109264.0,2.0,13.0,NaN,4.5,45.6,6.2,46.4,1.4,0.5,...,40.5,84.3,33.7,28.4,13.1,263.0,8.2,0.1,15.7,2017-2020
2,109265.0,1.0,2.0,NaN,9.5,46.4,10.9,39.2,2.9,0.7,...,36.6,81.2,34.4,27.9,13.1,286.0,6.6,0.1,42.1,2017-2020
3,109266.0,2.0,29.0,2.0,7.8,34.5,6.0,58.3,0.8,0.5,...,36.5,83.7,33.6,28.1,14.0,314.0,6.9,0.1,11.6,2017-2020
4,109267.0,2.0,21.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-2020

In [9]:
df = df.dropna(subset=['LBXHGB'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54123 entries, 1 to 66686
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SEQN         54123 non-null  float64
 1   RIAGENDR     54123 non-null  float64
 2   RIDAGEYR     54123 non-null  float64
 3   RIDEXPRG     11044 non-null  float64
 4   LBXWBCSI     54121 non-null  float64
 5   LBXLYPCT     54035 non-null  float64
 6   LBXMOPCT     54035 non-null  float64
 7   LBXNEPCT     54035 non-null  float64
 8   LBXEOPCT     54035 non-null  float64
 9   LBXBAPCT     54035 non-null  float64
 10  LBDLYMNO     54033 non-null  float64
 11  LBDMONO      54033 non-null  float64
 12  LBDNENO      54033 non-null  float64
 13  LBDEONO      54033 non-null  float64
 14  LBDBANO      54033 non-null  float64
 15  LBXRBCSI     54123 non-null  float64
 16  LBXHGB       54123 non-null  float64
 17  LBXHCT       54123 non-null  float64
 18  LBXMCVSI     54123 non-null  float64
 19  LBXMC        54123 non-null  float64
 20  LBXMCHSI     54123 non-null  float64
 21  LBXRDW       54123 non-null  float64
 22  LBXPLTSI     54123 non-null  float64
 23  LBXMPSI      54123 non-null  float64
 24  LBXNRBC      12151 non-null  float64
 25  LBXFER       24610 non-null  float64
 26  Survey_Year  54123 non-null  object
dtypes: float64(26), object(1)
memory usage: 11.6+ MB

In [10]:
df = df.dropna(subset=['LBXFER'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24610 entries, 1 to 66678
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SEQN         24610 non-null  float64
 1   RIAGENDR     24610 non-null  float64
 2   RIDAGEYR     24610 non-null  float64
 3   RIDEXPRG     9700 non-null   float64
 4   LBXWBCSI     24608 non-null  float64
 5   LBXLYPCT     24566 non-null  float64
 6   LBXMOPCT     24566 non-null  float64
 7   LBXNEPCT     24566 non-null  float64
 8   LBXEOPCT     24566 non-null  float64
 9   LBXBAPCT     24566 non-null  float64
 10  LBDLYMNO     24564 non-null  float64
 11  LBDMONO      24564 non-null  float64
 12  LBDNENO      24564 non-null  float64
 13  LBDEONO      24564 non-null  float64
 14  LBDBANO      24564 non-null  float64
 15  LBXRBCSI     24610 non-null  float64
 16  LBXHGB       24610 non-null  float64
 17  LBXHCT       24610 non-null  float64
 18  LBXMCVSI     24610 non-null  float64
 19  LBXMC        24610 non-null  float64
 20  LBXMCHSI     24610 non-null  float64
 21  LBXRDW       24610 non-null  float64
 22  LBXPLTSI     24610 non-null  float64
 23  LBXMPSI      24610 non-null  float64
 24  LBXNRBC      10541 non-null  float64
 25  LBXFER       24610 non-null  float64
 26  Survey_Year  24610 non-null  object
dtypes: float64(26), object(1)
memory usage: 5.3+ MB

In [11]:
unique_values = df['RIDEXPRG'].unique()
print(unique_values)

[nan  2.  1.  3.]

In [12]:
def convert_value(value):
    if pd.isna(value):
        return 0
    elif value == 1:
        return 1
    else:
        return 0

In [13]:
df['RIDEXPRG'] = df['RIDEXPRG'].apply(convert_value)

In [14]:
print(df['RIDEXPRG'].unique())
df.info()

[0 1]
<class 'pandas.core.frame.DataFrame'>
Index: 24610 entries, 1 to 66678
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SEQN         24610 non-null  float64
 1   RIAGENDR     24610 non-null  float64
 2   RIDAGEYR     24610 non-null  float64
 3   RIDEXPRG     24610 non-null  int64
 4   LBXWBCSI     24608 non-null  float64
 5   LBXLYPCT     24566 non-null  float64
 6   LBXMOPCT     24566 non-null  float64
 7   LBXNEPCT     24566 non-null  float64
 8   LBXEOPCT     24566 non-null  float64
 9   LBXBAPCT     24566 non-null  float64
 10  LBDLYMNO     24564 non-null  float64
 11  LBDMONO      24564 non-null  float64
 12  LBDNENO      24564 non-null  float64
 13  LBDEONO      24564 non-null  float64
 14  LBDBANO      24564 non-null  float64
 15  LBXRBCSI     24610 non-null  float64
 16  LBXHGB       24610 non-null  float64
 17  LBXHCT       24610 non-null  float64
 18  LBXMCVSI     24610 non-null  float64
 19  LBXMC        24610 non-null  float64
 20  LBXMCHSI     24610 non-null  float64
 21  LBXRDW       24610 non-null  float64
 22  LBXPLTSI     24610 non-null  float64
 23  LBXMPSI      24610 non-null  float64
 24  LBXNRBC      10541 non-null  float64
 25  LBXFER       24610 non-null  float64
 26  Survey_Year  24610 non-null  object
dtypes: float64(25), int64(1), object(1)
memory usage: 5.3+ MB

In [15]:
df = df.drop(columns=['LBXNRBC'])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24610 entries, 1 to 66678
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SEQN         24610 non-null  float64
 1   RIAGENDR     24610 non-null  float64
 2   RIDAGEYR     24610 non-null  float64
 3   RIDEXPRG     24610 non-null  int64
 4   LBXWBCSI     24608 non-null  float64
 5   LBXLYPCT     24566 non-null  float64
 6   LBXMOPCT     24566 non-null  float64
 7   LBXNEPCT     24566 non-null  float64
 8   LBXEOPCT     24566 non-null  float64
 9   LBXBAPCT     24566 non-null  float64
 10  LBDLYMNO     24564 non-null  float64
 11  LBDMONO      24564 non-null  float64
 12  LBDNENO      24564 non-null  float64
 13  LBDEONO      24564 non-null  float64
 14  LBDBANO      24564 non-null  float64
 15  LBXRBCSI     24610 non-null  float64
 16  LBXHGB       24610 non-null  float64
 17  LBXHCT       24610 non-null  float64
 18  LBXMCVSI     24610 non-null  float64
 19  LBXMC        24610 non-null  float64
 20  LBXMCHSI     24610 non-null  float64
 21  LBXRDW       24610 non-null  float64
 22  LBXPLTSI     24610 non-null  float64
 23  LBXMPSI      24610 non-null  float64
 24  LBXFER       24610 non-null  float64
 25  Survey_Year  24610 non-null  object
dtypes: float64(24), int64(1), object(1)
memory usage: 5.1+ MB

In [17]:
df = df.dropna(how='any')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24564 entries, 1 to 66678
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SEQN         24564 non-null  float64
 1   RIAGENDR     24564 non-null  float64
 2   RIDAGEYR     24564 non-null  float64
 3   RIDEXPRG     24564 non-null  int64
 4   LBXWBCSI     24564 non-null  float64
 5   LBXLYPCT     24564 non-null  float64
 6   LBXMOPCT     24564 non-null  float64
 7   LBXNEPCT     24564 non-null  float64
 8   LBXEOPCT     24564 non-null  float64
 9   LBXBAPCT     24564 non-null  float64
 10  LBDLYMNO     24564 non-null  float64
 11  LBDMONO      24564 non-null  float64
 12  LBDNENO      24564 non-null  float64
 13  LBDEONO      24564 non-null  float64
 14  LBDBANO      24564 non-null  float64
 15  LBXRBCSI     24564 non-null  float64
 16  LBXHGB       24564 non-null  float64
 17  LBXHCT       24564 non-null  float64
 18  LBXMCVSI     24564 non-null  float64
 19  LBXMC        24564 non-null  float64
 20  LBXMCHSI     24564 non-null  float64
 21  LBXRDW       24564 non-null  float64
 22  LBXPLTSI     24564 non-null  float64
 23  LBXMPSI      24564 non-null  float64
 24  LBXFER       24564 non-null  float64
 25  Survey_Year  24564 non-null  object
dtypes: float64(24), int64(1), object(1)
memory usage: 5.1+ MB

In [19]:
# Assuming df is the DataFrame you want to save
output_path = r"new_nhanes_cleaned_data.csv"

# Save the DataFrame to a CSV file
df.to_csv(output_path, index=False)

In [20]:
print(f"DataFrame saved to: {output_path}")

DataFrame saved to: new_nhanes_cleaned_data.csv

In [21]:
# 1 male 2 female
# 1 preg 0 non-preg
def fun(df):
    if df['RIAGENDR'] == 1:
        if(df['RIDAGEYR']>=15 and df['LBXHGB']<13): # males age 15 and above hgb less than 13 so anemic
            return "Anemic"
        else: # males age 15 and above hgb greater than so anemic
            return "Non-Anemic"
    elif(df['RIAGENDR']==2 and df['RIDAGEYR']>=15):
        # hceck if preg
        if(df['RIDEXPRG']==1 and df['LBXHGB']<11):
            return "Anemic"
        elif(df['RIDEXPRG']==1 and df['LBXHGB']>=11):
            return "Non-Anemic"
        elif(df['RIDEXPRG']==0 and df['LBXHGB']<12):
            return "Anemic"
        elif(df['RIDEXPRG']==0 and df['LBXHGB']>=12):
            return "Non-Anemic"
    else:
        if(df['RIDAGEYR']>=12 and df['RIDAGEYR']<=14):
            if(df['LBXHGB']<12):
                return "Anemic"
            else:
                return "Non-Anemic"
        elif(df['RIDAGEYR']>=5 and df['RIDAGEYR']<=11):
            if(df['LBXHGB']<11.5):
                return "Anemic"
            else:
                return "Non-Anemic"
        elif(df['RIDAGEYR']>=1 and df['RIDAGEYR']<=4):
            if(df['LBXHGB']<11):
                return "Anemic"
            else:
                return "Non-Anemic"

In [22]:
df['Anemia_status'] = df.apply(fun,axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24564 entries, 1 to 66678
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SEQN           24564 non-null  float64
 1   RIAGENDR       24564 non-null  float64
 2   RIDAGEYR       24564 non-null  float64
 3   RIDEXPRG       24564 non-null  int64
 4   LBXWBCSI       24564 non-null  float64
 5   LBXLYPCT       24564 non-null  float64
 6   LBXMOPCT       24564 non-null  float64
 7   LBXNEPCT       24564 non-null  float64
 8   LBXEOPCT       24564 non-null  float64
 9   LBXBAPCT       24564 non-null  float64
 10  LBDLYMNO       24564 non-null  float64
 11  LBDMONO        24564 non-null  float64
 12  LBDNENO        24564 non-null  float64
 13  LBDEONO        24564 non-null  float64
 14  LBDBANO        24564 non-null  float64
 15  LBXRBCSI       24564 non-null  float64
 16  LBXHGB         24564 non-null  float64
 17  LBXHCT         24564 non-null  float64
 18  LBXMCVSI       24564 non-null  float64
 19  LBXMC          24564 non-null  float64
 20  LBXMCHSI       24564 non-null  float64
 21  LBXRDW         24564 non-null  float64
 22  LBXPLTSI       24564 non-null  float64
 23  LBXMPSI        24564 non-null  float64
 24  LBXFER         24564 non-null  float64
 25  Survey_Year    24564 non-null  object
 26  Anemia_status  24564 non-null  object
dtypes: float64(24), int64(1), object(2)
memory usage: 5.2+ MB

In [23]:
def iron(df):
    if(df['RIDAGEYR']<5):
        if(df['LBXFER']<12):
            return "ID"
        else:
            return "Non-ID"
    if(df['RIDAGEYR']>=5):
        if(df['LBXFER']<15):
            return "ID"
        else:
            return "Non-ID"

In [24]:
df['ID_status'] = df.apply(iron,axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24564 entries, 1 to 66678
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SEQN           24564 non-null  float64
 1   RIAGENDR       24564 non-null  float64
 2   RIDAGEYR       24564 non-null  float64
 3   RIDEXPRG       24564 non-null  int64
 4   LBXWBCSI       24564 non-null  float64
 5   LBXLYPCT       24564 non-null  float64
 6   LBXMOPCT       24564 non-null  float64
 7   LBXNEPCT       24564 non-null  float64
 8   LBXEOPCT       24564 non-null  float64
 9   LBXBAPCT       24564 non-null  float64
 10  LBDLYMNO       24564 non-null  float64
 11  LBDMONO        24564 non-null  float64
 12  LBDNENO        24564 non-null  float64
 13  LBDEONO        24564 non-null  float64
 14  LBDBANO        24564 non-null  float64
 15  LBXRBCSI       24564 non-null  float64
 16  LBXHGB         24564 non-null  float64
 17  LBXHCT         24564 non-null  float64
 18  LBXMCVSI       24564 non-null  float64
 19  LBXMC          24564 non-null  float64
 20  LBXMCHSI       24564 non-null  float64
 21  LBXRDW         24564 non-null  float64
 22  LBXPLTSI       24564 non-null  float64
 23  LBXMPSI        24564 non-null  float64
 24  LBXFER         24564 non-null  float64
 25  Survey_Year    24564 non-null  object
 26  Anemia_status  24564 non-null  object
 27  ID_status      24564 non-null  object
dtypes: float64(24), int64(1), object(3)
memory usage: 5.4+ MB

In [25]:
def ida(df):
    if(df['Anemia_status']=="Anemic" and df['ID_status']=="ID"):
        return "IDA"
    else:
        return "Non-IDA"

In [26]:
df['IDA_status'] = df.apply(ida,axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24564 entries, 1 to 66678
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SEQN           24564 non-null  float64
 1   RIAGENDR       24564 non-null  float64
 2   RIDAGEYR       24564 non-null  float64
 3   RIDEXPRG       24564 non-null  int64
 4   LBXWBCSI       24564 non-null  float64
 5   LBXLYPCT       24564 non-null  float64
 6   LBXMOPCT       24564 non-null  float64
 7   LBXNEPCT       24564 non-null  float64
 8   LBXEOPCT       24564 non-null  float64
 9   LBXBAPCT       24564 non-null  float64
 10  LBDLYMNO       24564 non-null  float64
 11  LBDMONO        24564 non-null  float64
 12  LBDNENO        24564 non-null  float64
 13  LBDEONO        24564 non-null  float64
 14  LBDBANO        24564 non-null  float64
 15  LBXRBCSI       24564 non-null  float64
 16  LBXHGB         24564 non-null  float64
 17  LBXHCT         24564 non-null  float64
 18  LBXMCVSI       24564 non-null  float64
 19  LBXMC          24564 non-null  float64
 20  LBXMCHSI       24564 non-null  float64
 21  LBXRDW         24564 non-null  float64
 22  LBXPLTSI       24564 non-null  float64
 23  LBXMPSI        24564 non-null  float64
 24  LBXFER         24564 non-null  float64
 25  Survey_Year    24564 non-null  object
 26  Anemia_status  24564 non-null  object
 27  ID_status      24564 non-null  object
 28  IDA_status     24564 non-null  object
dtypes: float64(24), int64(1), object(4)
memory usage: 5.6+ MB

In [27]:
df['IDA_status'].value_counts()

IDA_status
Non-IDA    23531
IDA         1033
Name: count, dtype: int64

In [28]:
df['Anemia_status'].value_counts()

Anemia_status
Non-Anemic    22323
Anemic         2241
Name: count, dtype: int64

In [29]:
df['ID_status'].value_counts()

ID_status
Non-ID    21716
ID         2848
Name: count, dtype: int64

In [30]:
# Group by 'Anemia_status' and calculate the mean of 'LBXFER'
mean_LBXFER_levels = df.groupby('Anemia_status')['LBXHGB'].mean()

In [31]:
# Display the mean LBXFER levels for non-anemic and anemic subjects
print(mean_LBXFER_levels)

Anemia_status
Anemic        11.043150
Non-Anemic    13.580424
Name: LBXHGB, dtype: float64

In [32]:
# Group by 'Anemia_status' and calculate the mean of 'LBXFER'
mean_LBXFER_levels = df.groupby('ID_status')['LBXHGB'].mean()
print(mean_LBXFER_levels)

ID_status
ID        11.958708
Non-ID    13.531272
Name: LBXHGB, dtype: float64

In [33]:
# Group by 'Anemia_status' and calculate the mean of 'LBXFER'
mean_LBXFER_levels = df.groupby('IDA_status')['LBXHGB'].mean()
print(mean_LBXFER_levels)

IDA_status
IDA        10.594095
Non-IDA    13.469882
Name: LBXHGB, dtype: float64

In [34]:
df["LBXFER"].describe()

count    24564.000000
mean        82.726363
std        129.420418
min          1.040000
25%         23.375000
50%         43.000000
75%         91.825000
max       5190.000000
Name: LBXFER, dtype: float64

In [35]:
df["LBXHGB"].describe()

count    24564.000000
mean        13.348946
std          1.402461
min          5.400000
25%         12.500000
50%         13.300000
75%         14.200000
max         19.900000
Name: LBXHGB, dtype: float64

In [36]:
#1 for male and 2 for female
unique_values = df['RIAGENDR'].unique()
print(unique_values)

[2. 1.]

In [37]:
df = df[~((df['RIAGENDR'] == 2) & (df['LBXFER'] > 150)) & ~((df['RIAGENDR'] == 1) & (df['LBXFER'] > 200))]

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21758 entries, 1 to 66678
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SEQN           21758 non-null  float64
 1   RIAGENDR       21758 non-null  float64
 2   RIDAGEYR       21758 non-null  float64
 3   RIDEXPRG       21758 non-null  int64
 4   LBXWBCSI       21758 non-null  float64
 5   LBXLYPCT       21758 non-null  float64
 6   LBXMOPCT       21758 non-null  float64
 7   LBXNEPCT       21758 non-null  float64
 8   LBXEOPCT       21758 non-null  float64
 9   LBXBAPCT       21758 non-null  float64
 10  LBDLYMNO       21758 non-null  float64
 11  LBDMONO        21758 non-null  float64
 12  LBDNENO        21758 non-null  float64
 13  LBDEONO        21758 non-null  float64
 14  LBDBANO        21758 non-null  float64
 15  LBXRBCSI       21758 non-null  float64
 16  LBXHGB         21758 non-null  float64
 17  LBXHCT         21758 non-null  float64
 18  LBXMCVSI       21758 non-null  float64
 19  LBXMC          21758 non-null  float64
 20  LBXMCHSI       21758 non-null  float64
 21  LBXRDW         21758 non-null  float64
 22  LBXPLTSI       21758 non-null  float64
 23  LBXMPSI        21758 non-null  float64
 24  LBXFER         21758 non-null  float64
 25  Survey_Year    21758 non-null  object
 26  Anemia_status  21758 non-null  object
 27  ID_status      21758 non-null  object
 28  IDA_status     21758 non-null  object
dtypes: float64(24), int64(1), object(4)
memory usage: 5.0+ MB

In [39]:
# Assuming df is your DataFrame
df = df[df['RIDAGEYR'] <= 60]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19995 entries, 1 to 66678
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SEQN           19995 non-null  float64
 1   RIAGENDR       19995 non-null  float64
 2   RIDAGEYR       19995 non-null  float64
 3   RIDEXPRG       19995 non-null  int64
 4   LBXWBCSI       19995 non-null  float64
 5   LBXLYPCT       19995 non-null  float64
 6   LBXMOPCT       19995 non-null  float64
 7   LBXNEPCT       19995 non-null  float64
 8   LBXEOPCT       19995 non-null  float64
 9   LBXBAPCT       19995 non-null  float64
 10  LBDLYMNO       19995 non-null  float64
 11  LBDMONO        19995 non-null  float64
 12  LBDNENO        19995 non-null  float64
 13  LBDEONO        19995 non-null  float64
 14  LBDBANO        19995 non-null  float64
 15  LBXRBCSI       19995 non-null  float64
 16  LBXHGB         19995 non-null  float64
 17  LBXHCT         19995 non-null  float64
 18  LBXMCVSI       19995 non-null  float64
 19  LBXMC          19995 non-null  float64
 20  LBXMCHSI       19995 non-null  float64
 21  LBXRDW         19995 non-null  float64
 22  LBXPLTSI       19995 non-null  float64
 23  LBXMPSI        19995 non-null  float64
 24  LBXFER         19995 non-null  float64
 25  Survey_Year    19995 non-null  object
 26  Anemia_status  19995 non-null  object
 27  ID_status      19995 non-null  object
 28  IDA_status     19995 non-null  object
dtypes: float64(24), int64(1), object(4)
memory usage: 4.6+ MB

In [40]:
df.describe()

,SEQN,RIAGENDR,RIDAGEYR,RIDEXPRG,LBXWBCSI,LBXLYPCT,LBXMOPCT,LBXNEPCT,LBXEOPCT,LBXBAPCT,...,LBXRBCSI,LBXHGB,LBXHCT,LBXMCVSI,LBXMC,LBXMCHSI,LBXRDW,LBXPLTSI,LBXMPSI,LBXFER
count,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000,1.999500e+04,1.999500e+04,...,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000,19995.000000
mean,71562.792848,1.765591,23.172993,0.040810,7.581085,35.450673,7.703561,53.471818,2.734964e+00,7.088572e-01,...,4.571464,13.182926,38.986792,85.517314,33.794994,28.921780,13.274804,289.520675,7.914884,47.045779
std,36058.304666,0.423639,15.854133,0.197855,2.282777,11.697603,2.244527,12.790769,2.222867e+00,5.046826e-01,...,0.419355,1.311354,3.683984,6.519528,1.036476,2.589934,1.449136,78.062351,0.944651,37.577198
min,21006.000000,1.000000,1.000000,0.000000,1.400000,4.200000,0.700000,2.400000,5.397605e-79,5.397605e-79,...,2.610000,6.100000,20.500000,35.400000,25.200000,10.200000,6.300000,4.000000,5.000000,1.040000
25%,38598.000000,2.000000,12.000000,0.000000,5.900000,27.300000,6.200000,45.700000,1.300000e+00,4.000000e-01,...,4.300000,12.400000,36.600000,81.600000,33.200000,27.500000,12.400000,236.000000,7.300000,20.200000
50%,58295.000000,2.000000,20.000000,0.000000,7.300000,33.700000,7.400000,55.100000,2.200000e+00,6.000000e-01,...,4.550000,13.200000,38.800000,86.200000,33.800000,29.200000,13.000000,280.000000,7.900000,35.300000
75%,112686.500000,2.000000,36.000000,0.000000,8.800000,42.000000,8.900000,62.400000,3.400000e+00,9.000000e-01,...,4.820000,14.000000,41.300000,90.000000,34.500000,30.700000,13.800000,332.000000,8.500000,62.000000
max,124818.000000,2.000000,60.000000,1.000000,23.400000,84.100000,40.400000,92.300000,3.410000e+01,1.970000e+01,...,7.330000,18.100000,54.900000,116.800000,43.300000,56.200000,36.500000,1021.000000,13.500000,200.000000

In [41]:
df.columns

Index(['SEQN', 'RIAGENDR', 'RIDAGEYR', 'RIDEXPRG', 'LBXWBCSI', 'LBXLYPCT',
       'LBXMOPCT', 'LBXNEPCT', 'LBXEOPCT', 'LBXBAPCT', 'LBDLYMNO', 'LBDMONO',
       'LBDNENO', 'LBDEONO', 'LBDBANO', 'LBXRBCSI', 'LBXHGB', 'LBXHCT',
       'LBXMCVSI', 'LBXMC', 'LBXMCHSI', 'LBXRDW', 'LBXPLTSI', 'LBXMPSI',
       'LBXFER', 'Survey_Year', 'Anemia_status', 'ID_status', 'IDA_status'],
      dtype='object')

In [42]:
df['IDA_status'].unique()

array(['Non-IDA', 'IDA'], dtype=object)

In [43]:
def IDA_Status(data):
    if data == "IDA":
        return 1
    elif data == "Non-IDA":
        return 0

In [44]:
df["IDA_Status"] = df["IDA_status"].apply(IDA_Status)

In [45]:
df["IDA_Status"].unique()

array([0, 1])

In [46]:
# Assuming df is the DataFrame you want to save
output_path = r"cleaned_data_with_categorical_variables.csv"

In [47]:
# Save the DataFrame to a CSV file
df.to_csv(output_path, index=False)

print(f"DataFrame saved to: {output_path}")

DataFrame saved to: cleaned_data_with_categorical_variables.csv

In [48]:
df['IDA_status'].value_counts()

IDA_status
Non-IDA    18996
IDA          999
Name: count, dtype: int64